<section class='content-card flex-row'>
  <div class='code'>
    <a href='{{code_url}}' target='_blank'>{{title}}</a>
    <h3>{{title}}</h3>
    <p>Submitted by:
      {{user.username}}
      | on:
      {{createdAt}}
    </p>
  </div>
</section>