<div class="interview">
  <div class="post-image">
    <img
      class="border-round pulled-company-logo"
      src="https://logo.clearbit.com/{{company_name}}.com?size=180"
      alt="company logo here"
    />
  </div>
  <h2>{{title}} at {{company}}</h2>
  <p>{{description}}</p>
  <a href="http://www.{{company}}.com" target="_blank">{{title}}</a>
  <p>Submitted by:
    {{user.username}}
    | on:
    {{created_at}}
  </p>
</div>