<div class="job content-card">
  <div class="post-image">
    <img
      class="border-round pulled-company-logo"
      src="https://logo.clearbit.com/{{company_name}}.com?size=180"
      alt="company logo here"
    />
  </div>
  <h2><a href="{{job_url}}" style="color: #1c326b">{{title}}</a>
    at
    {{company_name}}</h2>
  <p>{{description}}</p>
  <P>Location: {{location}}</P>
  <p>Submitted by:
    {{user.username}}
    | on:
    {{created_at}}
  </p>
</div>